/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   

/*============ Wrapper och boxar ============*/

.wrapper {
  display:grid;
  margin:auto;
  max-width: 80rem;
 
}

.box {
  
  margin:0.2rem;
  
  /* border-radius: 20px; */
}

.bbackground {
  background-color: grey;
  /* background-image: linear-gradient(#72ae51, #507a39)  */
  /* background-color: #dbdbdb; */
}

.sidSektion {
  /* height: 100vh; */
  max-width: 80rem;
  
}

.buttonCenter {
  display:flex;
  justify-content: center;
}


main {
  margin-top:7rem;
}

.socUl {
  display: none
}

/* body {
  background:linear-gradient(rgb(206, 255, 201), rgb(185, 255, 176));
} */

/*============ Undersidor ============*/

.padding-top {
   
    padding-top:18rem  
}

.bokaKnapp {
  background-color:#42851c;
  color:white;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  display:block;
  padding:0.2rem;
  border:0.1em solid #FFFFFF;
  margin-left:2.3rem;
  margin-top:1rem;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  width: 8rem;
}

.bokaKnapp:hover{
  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer;
  border:0.1em solid black;
  }

.tillTopp {

  background-color:#1c4285;
  color:white;
  font-size: 1rem;
  text-align: center;
  /* margin-bottom: 0.5rem; */
  display:block;
  padding:0.2rem;
  /* border:0.1em solid #FFFFFF; */
  /* margin:0.3rem; */
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:300;
  color:#FFFFFF;
  transition: all 0.2s;  
  max-width: 80rem;
  margin-bottom:1rem;


    position:fixed;
    bottom:0;
    left:0;
    width: 6rem;
    overflow: hidden;
    z-index: 1;

}

.tillTopp:hover{
  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer;
  border:0.1em solid black;
  }

.subWrap {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap:30px;

}

/* #e1 {
  justify-self:start;
}

#e2 {
  justify-self: center;
}

#e3 {
  justify-self: end;
} */

.vitPtext {
  color:white;
  padding:1rem;
}

.gronText {
  color:#42851c;
  padding:20px;
  padding-left:0px;
  font-weight: 600;
}

.pText {
  padding-left:2.3rem;
  padding-right:2.3rem;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.bold{
  font-weight: 600;
}

/*======= Behandlingar ========*/



.behandlingsHeader {
  margin-left: 2.3rem;
}

/*======= Dermatologi ========*/



#dermaText {
  padding-left:2.3rem;
  padding-right: 2.3rem;
 }
/*======= Bokabehandling ========*/



#bokaSida {
  width:100%;
  height:40rem;

}

/*======= Om oss ========*/


 #omText {
 padding:2.3rem;
 
}

 #personalBild {

  padding:0.1rem;
  max-width: 20%
}  

 #bTextVd {
  font-style: italic;
} 

/*======= Kontakt ========*/

#karta {
  width:100%; 
  height:20rem;
}
#kartContainer {
  padding-left:2.3rem;
  padding-right:2.3rem;
}


.tg {
  margin-left:2.3rem;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:  #45a049;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  /* background-color: #4CAF50; */
  /* color:#000000;
  background-color:#FFFFFF;
  cursor: pointer; */
  transition-duration: 0.3s;

  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer;
  border:0.1em solid black;
}


#formWrap {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1rem;
  margin-left:2.3rem;
  margin-right: 2.3rem;
}


/*============ Toppnav  ============*/

.socNav {
  display:none;
}

#mobileHeader {
  position:fixed;
  top:0;
  width: 100%;
  max-width: 80rem;
  overflow: hidden;
  z-index: 1;
  box-shadow:1px 1px 8px black;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.topnav {
  max-width: 80rem;
  overflow: hidden;
  background-color: rgb(77, 77, 77);
  position: relative;
  /* margin:auto; */
  
  
}

#toppnavText {
  position: absolute;
  top: 10%;
  left:130px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  list-style: none;
  padding:0px;
  margin:0px; 
  font-family: Arial, Helvetica, sans-serif;
} 

#myLinksFullres {
  display: none;
}

.topnavDesktop {
  display: none;
}

#myLinks a:hover {
  background-color:#42851c;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #42851c;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 22px;
  margin-right: 10px;;
  border-radius: 4px;;
}

/* Style the active link (or home/logo) */
.activeBanner {
  background-color:white;
}

/*Logga i mobil toppnav*/
#logoMobil {
  max-width: 90%;
  border-radius: 4px;
}
#logoDesktop {
  max-width: 30%;
  min-width:25%;
  float:left;
  
}


/*============ SLIDE SHOW ============*/

#sliderRubrik {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.3rem;
  padding:0.5rem;
  margin:0px;
  font-weight: 200;
}

#sliderSlogan {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 0.8rem;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  max-height: 600px;
  object-fit: cover;
  overflow:hidden;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 2px 2px 0;
  user-select: none;
}

.slideBilder, .artikelbild {
    width:100%; 
}

.knappar {
    text-align: center;
}

.next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.prev:hover, .next:hover {
  background-color: #42851c;
  opacity: 0.9;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #1c4285;
  /* opacity: 0.7; */
  font-size: 1rem;
  position: absolute;
  bottom: 1.2rem;
  width:100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #42851c;
  opacity: 0.5;
  font-size:0.8rem;
  padding: 4px 6px;
  position: absolute;
  top: 15px;
  border-radius: 2px;
  margin:0.5rem;
  display:none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display:none
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

#slide1 {
  display:block;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*============ SEKTION FÖR ERBJUDANDE ============*/


#erbjudandeRubrik {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin:0px;
}

.eRubrik {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  background-color: #42851c;
  margin-top:3rem;
}

.erbjudande {
  text-align:center; 
} 

.eKnapp {
  background-color:#42851c;
  color:white;
 
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;

  display:inline-block;
  padding:0.2rem;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s; 
}

  .eKnapp:hover{
  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer;
  border:0.1em solid black;
  }

.eBilder {

  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:0.5rem;
  border-radius: 20px;
  
}


.eBilderBig {
  max-width: 70%;
  display: block;
  padding-bottom:0.5rem;
  padding-top:0.5rem;
  border-radius: 20px;
  margin-left:2.3rem;

}

.eBilder:hover {
  filter: brightness(50%);
  transition-duration: 0.3s;
}



/*============ MEDIA QUERIES ============*/
@media (max-width: 355px)
{
  #toppnavText {
    font-size:1.2em;
    top: 12%;
    
  }
}


/* ==================Ipad size och mindre================*/
@media (min-width: 740px) 
{
#siteTop {
  padding-top:4rem;
}

.topnav {
    display:none;
}
  #mobileHeader {
  background: white; 
}

.topnavDesktop {
  position:relative;
  display:flex;
}

#desktopLista {
  position: absolute;
  bottom:0%;
  left: 30%;
} 



 .desktopA {
  list-style: none;
   display: inline;
}

.socNav {
  position:absolute;
  top:0%;
  right:0%;
  display:unset;
}

.socUl {
  display: inline;
  list-style: none;
  
}


/* .socLi {
  position: absolute;
  right:20px;
  top:0;
} */

.socIcon {
  width:40px;
 /* display:block */
 
}


.eBilder {
  max-width: 100%;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:0.5rem;
  border-radius: 20px;
}
.padding-top {
   
  padding-top:10rem  
}

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}


